.suggest {
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    background: #FFFFFF;
    z-index: 50;
    
    &__list {
        background: #FFFFFF;
        color: #000000;
        font-size: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    &__item {
        padding: 10px 20px;
        background: #FFFFFF;
        border-bottom: 1px solid #d9d9d9;
        margin: 0;
        
        &__title {
        }
        &__desc {
            font-size: 11px;
            color: #bebebe;
        }
        
        &:active {
            background: #ffeaae;
        }
    }
}