.icon-wind {
    width: 11px;
    height: 11px;
    display: inline-block;
    background:  url("//yastatic.net/weather-frontend/_/N3n-oDD3MaaMLxl5pQnzNDkEryw.svg") 50% 50% no-repeat;
    
    &_s {
        transform: rotate(0deg);
    }
    &_ssw {
        transform: rotate(30deg);
    }
    &_sw {
        transform: rotate(45deg);
    }
    &_wsw {
        transform: rotate(60deg);
    }
    &_w {
        transform: rotate(90deg);
    }
    &_wnw {
        transform: rotate(120deg);
    }
    &_nw {
        transform: rotate(135deg);
    }
    &_nnw {
        transform: rotate(150deg);
    }
    &_n {
        transform: rotate(180deg);
    }
    &_nne {
        transform: rotate(-150deg);
    }
    &_ne {
        transform: rotate(-135deg);
    }
    &_ene {
        transform: rotate(-120deg);
    }
    &_e {
        transform: rotate(-90deg);
    }
    &_ese {
        transform: rotate(-60deg);
    }
    &_se {
        transform: rotate(-45deg);
    }
    &_sse {
        transform: rotate(-30deg);
    }
}